.tabs {
    display: flex;
    flex-direction: column;
}

.tab-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.tab-links li {
    font-size: 20px;
    padding: 23px 65px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-links li:hover {
    background-color: #ddd;
}

.tab-links li.active {
    background-color: #007bff;
    color: white;
}

/* Tab content */
.tab-content {
    border-top: 1px solid #ddd;
}

.tab-content>div {
    display: none;
}

.tab-content>div.active {
    display: block;
}