<mat-tab-group>
  <!-- Tab for Introduction -->
  <mat-tab label="Introduction">
    <h2>{{ course.name }}</h2>
    <p>{{ course.description }}</p>
  </mat-tab>

  <!-- Tab for Curriculum -->
  <mat-tab label="Curriculum">
    <ul>
      <li *ngFor="let item of course.curriculum">{{ item }}</li>
    </ul>
  </mat-tab>

  <!-- Tab for Instructors -->
  <mat-tab label="Instructors">
    <ul>
      <li *ngFor="let instructor of course.instructors">
        <strong>{{ instructor.name }}</strong> - {{ instructor.specialization }}
      </li>
    </ul>
  </mat-tab>

  <!-- Tab for Reviews -->
  <mat-tab label="Reviews">
    <ul>
      <li *ngFor="let review of course.reviews">
        <strong>{{ review.user }}:</strong> {{ review.comment }}
      </li>
    </ul>
  </mat-tab>
</mat-tab-group>