<div class="main">
    <div class="cards">
        <div class="courses">
            <h3>Programming Languages</h3>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>C++</li>
                <li>C</li>
            </ul>
        </div>
        <div class="courses">
            <h3>Web Development</h3>
            <ul>
                <li>HTML/CSS</li>
                <li>React</li>
                <li>Angular</li>
                <li>Node.js</li>
                <li>Django</li>
                <li>ASP.NET</li>
            </ul>
        </div>

        <div class="courses">
            <h3>Databases</h3>
            <ul>
                <li>SQL (MySQL, PostgreSQL, SQLite)</li>
                <li>NoSQL (MongoDB)</li>
            </ul>
        </div>
        <div class="courses">
            <h3>Cloud Computing</h3>
            <ul>
                <li>Amazon Web Services (AWS)</li>
                <li>Microsot Azure</li>
            </ul>
        </div>
        <div class="courses">
            <h3>Data Science and Analytics</h3>
            <ul>
                <li>Data Analysis with Python/R</li>
                <li>Machine Learning</li>
                <li>Artificial Intelligence</li>
                <li>Big Data Technology (Hadoop Spark)</li>
                <li>Data Visualization(Tableau, Power BI)</li>
            </ul>
        </div>
        <div class="courses">
            <h3>Software Testing</h3>
            <ul>
                <li>Manual Testing</li>
                <li>Automated Testing Tools</li>
                <li>Artificial Intelligence</li>
                <li>Perormance Testing</li>
            </ul>
        </div>
    </div>

</div>